.counter {
  max-width: 140px;
  margin: 8px 0;
  padding: 8px 12px;
  border: 1px solid #248bf2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter__button {
  background-color: #248bf2;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 5px 10px;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}
