.Counter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 20%;
}

.Counter button {
    margin: 15px;
    background-color: blue;
    color: white;
    padding: 10px;
    border-style: none;
    width: 80px;
    height: 80px;
    font-size: 2em;
}

.Counter p {
    font-size: 2em;
}