.dice-div {
    cursor: pointer;
  }
  
  .dice-div img {
    width: 100px; /* Adjust the width of the dice image */
    height: 100px; /* Adjust the height of the dice image */
    transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
  }
  
  .dice-div:hover img {
    transform: rotate(180deg); /* Rotate the dice image on hover */
  }