LikeButton{
    background-color: grey;

}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.button-container button {
    margin: 0 10px; 
}