body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.LikeButton {
  width: 78px;
}

.Counter {
  display: flex;
  margin: 24px 0;
}

.Counter button {
  background-color: rgb(84, 62, 228);
  color: white;
  width: 50px;
  margin: 8px;
}

img {
  width: 30%;
  margin: 24px;
}